<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * @author	    Vladan Kuzmanovic (vladankuzmanovic@gmail.com)
 */
-->
<config>
	<modules>
		<Kuzman_ProductFaq>
			<version>0.0.1</version>
		</Kuzman_ProductFaq>
	</modules>
	<global>
		<blocks>
			<kproductfaq>
		          <class>Kuzman_ProductFaq_Block</class>
		    </kproductfaq>
		</blocks>
		<helpers>
			<kproductfaq>
				<class>Kuzman_ProductFaq_Helper</class>
			</kproductfaq>
		</helpers>
		<events>
			<controller_action_layout_render_before_catalog_product_view>
				<observers>
					<render_before_catalog_product_view>
						<type>singleton</type>
						<class>Kuzman_ProductFaq_Model_Observer</class>
						<method>productFaqLayout</method>
					</render_before_catalog_product_view>
				</observers>
			</controller_action_layout_render_before_catalog_product_view>
		</events>
		<models>
			<kproductfaq>
				<class>Kuzman_ProductFaq_Model</class>
				<resourceModel>productfaq_resource</resourceModel>
			</kproductfaq>
			<productfaq_resource>
				<class>Kuzman_ProductFaq_Model_Resource</class>
				<entities>		  
                    <productfaq>
                        <table>kuzman_product_faq</table>
                    </productfaq>
                    <productgrid>
                        <table>kuzman_product_faq_product_grid</table>
                    </productgrid>
                    <faqgroups>
                        <table>kuzman_product_faq_groups</table>
                    </faqgroups>
                    <grouplabels>
                        <table>kuzman_product_faq_groups_labels</table>
                    </grouplabels>
				</entities>
			 </productfaq_resource>
		</models>
		<resources>
			<productfaq_setup>
				<setup>
					<module>Kuzman_ProductFaq</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</productfaq_setup>
			<productfaq_write>
				<connection>
					<use>core_write</use>
				</connection>
			</productfaq_write>
			<productfaq_read>
				<connection>
					<use>core_read</use>
				</connection>
			</productfaq_read>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<productfaq>
					<file>kuzman/productfaq.xml</file>
				</productfaq>
			</updates>
		</layout>
		<routers>
			<kproductfaq>
				<use>standard</use>
				<args>
					<module>Kuzman_ProductFaq</module>
					<frontName>question</frontName>
				</args>
			</kproductfaq>
		</routers>
        <translate>
            <modules>
                <kproductfaq>
                    <files>
                        <default>Kuzman_ProductFaq.csv</default>
                    </files>
                </kproductfaq>
            </modules>
        </translate>
	</frontend>
	<admin>
		<routers>
			<kproductfaq>
				<use>admin</use>
				<args>
					<module>Kuzman_ProductFaq</module>
					<frontName>productfaq</frontName>
				</args>
			</kproductfaq>
		</routers>
	</admin>
	<adminhtml>
        <menu>
            <catalog>           
                <children>
                    <productfaq module="kproductfaq" translate="title">
                        <title>Product FAQ</title>
                        <sort_order>100</sort_order>
                    	<children>
		                    <productfaq module="kproductfaq">
		                        <title>Manage Questions</title>
		                        <sort_order>1</sort_order>
		                    	<action>kproductfaq/adminhtml_productfaq</action>
		                    </productfaq>
		                    <productfaq_groups module="kproductfaq">
		                        <title>Manage Question Groups</title>
		                        <sort_order>2</sort_order>
		                    	<action>kproductfaq/adminhtml_faqgroups</action>
		                    </productfaq_groups>
                		</children>
                    </productfaq>
                </children>
            </catalog>
        </menu>
		<layout>
			<updates>
				<kproductfaq>
					<file>kuzman/productfaq.xml</file>
				</kproductfaq>
			</updates>
		</layout>
        <translate>
            <modules>
                <kproductfaq>
                    <files>
                        <default>Kuzman_ProductFaq.csv</default>
                    </files>
                </kproductfaq>
            </modules>
        </translate>
    </adminhtml>  
    <default>
		<kproductfaq>
			<general>
				<enabled>1</enabled>
			</general>
		</kproductfaq>
	</default>
</config>